.yosemite-background {
  background: url(https://squawalpine.com/sites/default/files/1440x900_squawalpine_201617_scenic-alpine-sunrise.jpg) no-repeat center center fixed;
  background-size: cover;
}
body {
  background: url(https://squawalpine.com/sites/default/files/1440x900_squawalpine_201617_scenic-alpine-sunrise.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height:100%;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  cursor: pointer;
}

#headerfix {
    height: 0px;
    background-color:#DDD;
    border-bottom: 3px solid #59A3C8;
    z-index: 99999;
    position: fixed;
    width: 100%;
}
#preview-frame {
    margin: 0 auto;
    display: block;
    padding-top: 0px;
    width:100%;
    height: 100%;
}

#launchpad {
  display: block;
}
#launchpad {
  -webkit-animation: show 0.4s 1;
          animation: show 0.4s 1;
}
#launchpad .content {
  background: #310505;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
#launchpad .content:before {
  background: url(https://squawalpine.com/sites/default/files/1440x900_squawalpine_201617_scenic-alpine-sunrise.jpg) no-repeat center center fixed;
  background-size: cover;
  bottom: 0;
  content: '';
  -webkit-filter: blur(10px);
          filter: blur(10px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
#launchpad .content nav {
  margin: 20px auto;
  width: 90%;
}
#launchpad .content nav a {
	text-decoration:  none;
  color: white;
  -webkit-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
  font-size: 14px;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
#launchpad .content nav a:active {
  opacity: .6;
}
#launchpad .content nav.scale-down {
  -webkit-animation: scale-down 0.4s 1;
          animation: scale-down 0.4s 1;
}
#launchpad .content nav.scale-up {
  -webkit-animation: scale-up 0.4s 1;
          animation: scale-up 0.4s 1;
}
.window {
  background: white;
  border-color: #eee;
  border-width: 30px 0 0 0;
  border-style: solid;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.2);
  left: 50%;
  margin: -160px 0 0 -320px;
  min-height: 320px;
  padding: 10px 30px;
  position: absolute;
  top: 50%;
  width: 640px;
}
.window h1 {
  font-weight: normal;
  text-align: center;
}
.window a {
  color: #00BFFF;
  text-decoration: none;
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes scale-up {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes scale-up {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@-webkit-keyframes scale-down {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-down {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
a[class^="icon"] {
  background-position: top;
  background-repeat: no-repeat;
  display: inline-block;
  height: 128px;
  padding: 128px 0 0 0;
  margin: 40px;
  width: 128px;
}
.launchpad-icon {
  background: url(https://cdn2.iconfinder.com/data/icons/minimalism/128/Launcher.png);
  background-position: top;
  background-repeat: no-repeat;
  display: block;
  height: 128px;
  margin: 15px auto;
  width: 128px;
}
.icon-facetime {
  background: url(https://cdn2.iconfinder.com/data/icons/minimalism/128/facetime.png);
}
.icon-redsox {
  background: url(images/red-sox.ico);
}
.icon-photos {
  background: url(images/photos.png);
}
.icon-batcat {
  background: url(images/batcat.png);
}
.icon-opensnow {
  background: url(images/opensnow.jpg);
}
.icon-squaw {
  background: url(images/squaw.png);
}
.icon-lift {
  background: url(images/lift.png);
}
.icon-home {
  background: url(images/home.png);
}
#icons {
  bottom: 10px;
  color: #9E9E9E;
  left: 10px;
  position: absolute;
}
#icons a {
  color: #BADA55;
  text-decoration: none;
}
